:targets:
  - :name: "NeoTree Database"
    :type: postgres
    :host: {{.host}}
    :database: {{.database}}
    :port: {{.port}}
    :username: {{.username}}
    :password: {{.password}}
    :ssl: false # SSL disabled by default
:steps:
  - :name: Deduplicate admissions
    :queries:
      - :name: Deduplicate admissions
        :file: ../sql/setup/1-admissions/1-deduplicate-admissions.sql
  - :name: Deduplicate discharges
    :queries:
      - :name: Deduplicate discharges
        :file: ../sql/setup/2-discharges/1-deduplicate-discharges.sql
  - :name: Admissions manually fix records
    :queries:
      - :name: Manually fix admissions records
        :file: ../sql/common/5-admissions-manually-fix-records.sql
  - :name: Discharges manually fix records
    :queries:
      - :name: Manually fix admissions records
        :file: ../sql/common/5-discharges-manually-fix-records.sql
  - :name: Join admissions and discharges
    :queries:
      - :name: Create joined materialized view
        :file: ../sql/setup/3-join/join-admissions-and-discharges.sql
  - :name: Grant permissions on derived tables
    :queries:
      - :name: Create joined materialized view
        :file: ../sql/common/6-grant-usage-on-tables.sql