:targets:
  - :name: "NeoTree Database"
    :type: postgres
    :host: {{.host}}
    :database: {{.database}}
    :port: {{.port}}
    :username: {{.username}}
    :password: {{.password}}
    :ssl: false # SSL disabled by default
:steps:
  - :name: Deduplicate admissions
    :queries:
      - :name: Deduplicate admissions
        :file: ../sql/setup/1-admissions/1-deduplicate-admissions.sql
  - :name: Deduplicate discharges
    :queries:
      - :name: Deduplicate discharges
        :file: ../sql/setup/2-discharges/1-deduplicate-discharges.sql
