:targets:
  - :name: "NeoTree Database"
    :type: postgres
    :host: {{.host}}
    :database: {{.database}}
    :port: {{.port}}
    :username: {{.username}}
    :password: {{.password}}
    :ssl: false # SSL disabled by default
:steps:
  - :name: Admissions manually fix records
    :queries:
      - :name: Manually fix admissions records
        :file: ../sql/common/5-admissions-manually-fix-records.sql
  - :name: Discharges manually fix records
    :queries:
      - :name: Manually fix admissions records
        :file: ../sql/common/5-discharges-manually-fix-records.sql
