:targets:
  - :name: "NeoTree Database"
    :type: postgres
    :host: {{.host}}
    :database: {{.database}}
    :port: {{.port}}
    :username: {{.username}}
    :password: {{.password}}
    :ssl: false # SSL disabled by default
:steps:
  - :name: Grant permissions on derived tables
    :queries:
      - :name: Grant permissions on derived tables
        :file: ../sql/common/6-grant-usage-on-tables.sql