:targets:
  - :name: "NeoTree Database"
    :type: postgres
    :host: {{.host}}
    :database: {{.database}}
    :port: {{.port}}
    :username: {{.username}}
    :password: {{.password}}
    :ssl: false # SSL disabled by default
:steps:
  - :name: Deduplicate admissions
    :queries:
      - :name: Deduplicate admissions
        :file: ../sql/setup/1-admissions/1-deduplicate-admissions.sql
  - :name: Tidy admissions JSON
    :queries:
      - :name: Tidy admissions JSON
        :file: ../sql/setup/1-admissions/2-tidy-json.sql
  - :name: Explode admissions JSON
    :queries:
      - :name: Explode admissions JSON
        :file: ../sql/setup/1-admissions/3-explode-json.sql
  - :name: Admissions fix nulls and types
    :queries:
      - :name: Admissions fix nulls and types
        :file: ../sql/common/4-admissions-fix-nulls-and-types.sql
  - :name: Admissions manually fix records
    :queries:
      - :name: Manually fix admissions records
        :file: ../sql/common/5-admissions-manually-fix-records.sql
  - :name: Deduplicate discharges
    :queries:
      - :name: Deduplicate discharges
        :file: ../sql/setup/2-discharges/1-deduplicate-discharges.sql
  - :name: Tidy discharges JSON
    :queries:
      - :name: Tidy admissions JSON
        :file: ../sql/setup/2-discharges/2-tidy-json.sql
  - :name: Explode admissions JSON
    :queries:
      - :name: Explode discharges JSON
        :file: ../sql/setup/2-discharges/3-explode-json.sql
  - :name: Discharges fix nulls and types
    :queries:
      - :name: Discharges fix nulls and types
        :file: ../sql/common/4-discharges-fix-nulls-and-types.sql
  - :name: Discharges manually fix records
    :queries:
      - :name: Manually fix admissions records
        :file: ../sql/common/5-discharges-manually-fix-records.sql